body{
    background-image: url(/assets/img/content.jpg);
    background-repeat: no-repeat;
}
@media (orientation: landscape) {
    body {
    background-image: url(/assets/img/pascontent.jpg);
    background-repeat: no-repeat;
    }
  }